networks:
  saaslocalnetwork:
    name: saaslocalnetwork
    driver: bridge

services:
  postgres:
    image: postgres:16.5
    restart: unless-stopped
    networks:
      - saaslocalnetwork
    environment:
      POSTGRES_PASSWORD: ${POSTGRESQL_DB_PASSWORD}
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.9.2
    restart: unless-stopped
    ports:
      - "9200:9200"
    volumes:
      - ./esdata1:/usr/share/elasticsearch/data
      - ./elastic_backup:/opt/elasticsearch/backup
    networks:
      - saaslocalnetwork
    environment:
      - xpack.security.transport.ssl.enabled=false
      - xpack.security.http.ssl.enabled=false
      - xpack.security.enabled=false
      - path.repo=/opt/elasticsearch/backup
      - discovery.type=single-node
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS= -Xms2g -Xmx2g -Dlog4j2.formatMsgNoLookups=true"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    healthcheck:
      test: ["CMD-SHELL", "curl -sf 'http://localhost:9200/_cluster/health?wait_for_status=yellow&timeout=10s' || exit 1"]
      interval: 10s
      timeout: 15s
      retries: 12
      start_period: 30s
